# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
ENV/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# VSCode and IDE settings
.vscode/
.idea/

# Data outputs
outputs/

# macOS
.DS_Store
